h1{
  font-weight: bold;
  color: blue;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(251,251,255);
  background: linear-gradient(90deg, rgba(251,251,255,1) 8%, rgba(233,233,255,1) 31%, rgba(0,212,255,1) 86%);
}

a {
  color: #00B7FF;
}

img {
  width: auto;
  height: 250px;
}
#animated-gif{
  width: auto;
  height: 35px;
  padding-left: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#destinationTxt {
  color: black;
}

@media screen and (min-width: 801px){
  header, body, footer{

      font-size: 100%

  }
}

@media screen and (max-width: 800px){
  header, body, footer{

      font-size: 90%;

  }
}

@media screen and (max-width: 600px){
  header, body, footer{

      font-size: 80%;

  }
}

@media screen and (max-width: 500px){
  header, body, footer{

      font-size: 70%

  }
}